<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Resultado</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>Tu celular es de: {{ gama }}</h1>
    <h2>Características promedio de esta gama:</h2>
    <ul>
        {% for k, v in promedio.items() %}
        <li><strong>{{ k }}:</strong> {{ v }}</li>
        {% endfor %}
    </ul>
    <h2>Distribución de gamas</h2>
    <img src="/static/grafico.png" alt="Gráfico de dispersión de gamas">
</body>

</html>